.main {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-gap: 0px;
    max-width: 800px;
    width: 90%;
    margin: auto;
}

app-square {
    border: 1px rgb(255, 255, 255) solid;
    height: 200px;
}
