<ion-content>

  <div style="display: flex;height: 100vh;">
    <div style="margin: auto; width: 100%;">
      <ion-row>
        <h1 class="ion-text-center" style="width: 100%;">
          <ion-text color="tertiary">
            Turno del Jugador: {{ player }}
          </ion-text>
        </h1>
        <ion-col size="12" style="display: flex;">
          <ion-button color="medium" (click)="newGame()" style="margin: auto;">
            <ion-icon slot="icon-only" name="refresh"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>

        <div class="main">
          <app-square *ngFor="let val of squares; let i = index" [value]="val" [win]="linesWin.includes(i)"
            (click)="makeMove(i)">

          </app-square>
        </div>

      </ion-row>
    </div>

  </div>

</ion-content>