
<ion-button [ngClass]="{ 'win':win === true }" expand="full"  *ngIf="!value">{{ value }}</ion-button>
<ion-button [ngClass]="{ 'win':win === true }" expand="full"  *ngIf="value == 'X'">{{ value }}</ion-button>
<ion-button [ngClass]="{ 'win':win === true }" expand="full"  *ngIf="value == 'O'">{{ value }}</ion-button>
