ion-button {
    width: 100%;
    height: 100%;
    font-size: 5em !important;
    --padding-end: 0px;
    --padding-start: 0px;
    --background-activated: transparent;
    --ripple-color: transparent;
}


.win {
    --background: red;
}